* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html,
body {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.panel {
  width: 100vw;
  height: 100vh;
}

.blur-blob {
  backdrop-filter: blur(100px);
}

.clipFade {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

.alice-carousel__dots {
  margin: 0;
}

@import 'react-tooltip/dist/react-tooltip.css';
@import 'react-alice-carousel/lib/alice-carousel.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
